body {
    background-color: rgb(130, 185, 211);
    font-family: 'Kaushan Script', Verdana, Geneva, Tahoma, sans-serif;
}

#card-title {
    font-size: 40px;
    font-weight: bold;
    color: rgb(130, 185, 211);

}
