body {
    background-color: rgb(228, 231, 231);
    font-family: 'Times New Roman', Times, serif;
    
}

#card-title {
    font-size: 45px;
    font-weight: bold;
    color: rgb(48, 165, 165);

}

#navbar-brand {
    color: rgb(48, 165, 165);
    font-weight: bold;
    font-size: 30px;
}
/* This is not working */
footer {
    color: rgb(48, 165, 165);
}

/* This is not working */
.nav-link {
    float:right;
}
