body {
    background-color: rgb(228, 231, 231);
    font-family: 'Times New Roman', Times, serif;
    
}

#card-title {
    font-size: 45px;
    font-weight: bold;
    color: rgb(48, 165, 165);

}

#navbar-brand {
    color: rgb(48, 165, 165);
    font-weight: bold;
    font-size: 30px;
}

aside {
    background-color:rgb(228, 231, 231);
    width: 1440px;
    height: 970px;
    padding: 50px;
    border: 1px solid grey;
  }

main {
    background-color: rgb(228, 231, 231);
    width: 1450px;
    height: 670px;
    padding: 40px;
    border: 1px solid rgb(228, 231, 231);
  }

footer {
    background-color: gray;
    width: 1440px;
    height: 60px;
    padding: 1px;
    border: 1px solid gray;
  }
  