body {
    background-color: rgb(228, 231, 231);
    font-family: 'Times New Roman', Times, serif;
    
}

#card-title {
    font-size: 45px;
    font-weight: bold;
    color: rgb(48, 165, 165);

}

#box {
    background-color: white
    width: 400px;
    height: 440px;
    margin: 10px 30px 20px 50px;
    padding: 25px 10px 30px 20px;
    border-width: 22px;
}

#navbar-brand {
    color: rgb(48, 165, 165);
    font-weight: bold;
    font-size: 30px;
}